* {
  margin: 0;
  text-align: center;
  align-items: center;
  /* color: #EEEEEE; */
  background-color: #1b1d4a;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.main h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #e9efff;
}

.home-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.guest-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.score-area {
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #ff002f;
  font-weight: 400;
  font-size: 90px;
  background-color: #201d22;
  height: 130px;
  width: 155px;
  margin-top: 20px;
  border-radius: 10px;
  border: 4px solid #201d22;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  box-shadow: 3px 3px 10px #201d22;
}

.highlight {
  box-shadow: 0px 0px 20px #aaff00;
}

.score-count {
  background: none;
  font-family: "Cursed Timer ULiL", sans-serif;
  width: 155px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  font-family: "Cursed Timer ULiL", sans-serif;
  background-color: none;
  color: #9aabd8;
  margin-top: 20px;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-size: x-large;
  cursor: pointer;
  box-shadow: 0 0 5px #9aabd8;
}

.score-btn {
  width: 45px;
}

.new-game {
  padding: 15px 30px 15px 30px;
  font-weight: 700;
}

button:hover {
  text-decoration: underline;
}
